body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/3837409/pexels-photo-3837409.jpeg?auto=compress&cs=tinysrgb&w=600');
}
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #C08B5C;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #FFC94A;
    text-align: center;
}
.menu-item {
  color: #453F78;
    margin-bottom: 20px;
    border-bottom: 1px solid #453F78;
    padding-bottom: 20px;
}
.menu-item:last-child {
    border-bottom: none;
}
.menu-item h2 {
    margin-top: 0;
}
.menu-item p {
    margin-top: 5px;
    color: #666;
}
.menu-item .price {
    font-weight: bold;
    color: #333;
}
.booking-form {
    text-align: center;
}
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
}
.booking-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    height: 100px;
}

/* automatic slide */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
  cursor: pointer;
}
#back-to-top:hover {
  background-color: #555;
}